.heroimg{
    width: 100%;
    height: 800px;
    background-image: url(../../images/slider-1.4ff3abf6.jpg);
    background-position: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.animation {
  height:80px;
  overflow:hidden;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}


@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
